@model Final_project.Models.Employee

@{
    ViewBag.Title = "Delete Employee";
}

<h2>Delete Employee</h2>

<div>
    <h4>Are you sure you want to delete this employee?</h4>
    <div>
        <h4>@Model.Name</h4>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeID)
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
}
